<footer class="py-3 my-4" xmlns:th="http://www.thymeleaf.org" id="footer">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">1</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">2</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">3</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">4</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">5</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">6</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>