<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
<head th:replace="~{common/head}"></head>
<body>

<div class="container">
    <div th:replace="~{common/header}"></div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-3">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">CREATE</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">CREATE</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">LIST</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">LIST</button>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                <h4 class="my-0 fw-normal">LIST</h4>
                </div>
                <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">LIST</button>
                </div>
            </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">CREATE</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">CREATE</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">LIST</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">LIST</button>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                <h4 class="my-0 fw-normal">LIST</h4>
                </div>
                <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">LIST</button>
                </div>
            </div>
        </div>
      </div>
    <div th:replace="~{common/footer}"></div>
</div>
</body>
</html>
